@{
    ViewBag.Title = "Registration";
}

@{ 
    bool isProfession(string profession)
    {
        if(Model != null && Model.Profession != null)
            if (Model.Profession == profession) return true;
        
        return false;
    }

    bool isGender(string gender)
    {
        if (Model != null && Model.Gender != null)
            if(Model.Gender == gender) return true;
        
        return false;
    }

    bool isHobby(string hobby)
    {
        if (Model != null && Model.Hobbies != null)
        {
            foreach(var i in Model.Hobbies)
                if (i.Equals(hobby)) return true;
        }
        return false;
    }
}

<h2>Registration</h2>

<form action="" method="post">
    <label for="name">Name:</label>
    <input class="form-control" type="text" id="name" value="@(Model == null ? "" : Model.Name)" name="Name" placeholder="Username"/>
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />
    <label>
        Gender:
    </label>
    <input type="radio" id="male" name="Gender" value="Male" checked=@(isGender("Male"))/> <label for="male">Male</label>
    <input type="radio" id="female" name="Gender" value="Female" checked=@(isGender("Female")) /> <label for="female">Female</label> <br />
    <span class="text-danger">@Html.ValidationMessage("Gender")</span>
    <br />

    <label>
        Profession:
    </label>
    <select class="form-control" name="Profession">
        <option selected disabled>Select..</option>
        <option value="Student" selected=@isProfession("Student")>Student</option>
        <option value="Faculty" selected=@isProfession("Faculty")>Faculty</option>
        <option value="Management" selected=@isProfession("Management")>Management</option>
    </select>
    <span class="text-danger">@Html.ValidationMessage("Profession")</span>
    <br>
    <label>  Hobbies: <br></label> <br />
    <input type="checkbox" id="game" name="Hobbies[]" value="Game" checked=@(isHobby("Game")) />
    <label for="game">Game</label> <br>
    <input type="checkbox" id="sport" name="Hobbies[]" value="Sports" checked=@(isHobby("Sports")) />
    <label for="sport">Sport</label> <br>
    <input type="checkbox" id="travelling" name="Hobbies[]" value="Traveling" checked=@(isHobby("Traveling")) />
    <label for="travelling">Traveling</label> <br>
    <input type="checkbox" id="music" name="Hobbies[]" value="Music" checked=@(isHobby("Music")) />
    <label for="music">Music</label><br>
    <span class="text-danger">@Html.ValidationMessage("Hobbies")</span>
    <br />
    <label>
        Date of Birth:
    </label>
    <input type="date" id="birthday" name="DOB" value="@(Model == null ? "" : Model.DOB.Date.ToString("yyyy-MM-dd"))" />
    <span class="text-danger">@Html.ValidationMessage("DOB")</span><br />
    <br />

    <label for="pass">Password: </label>
    <input class="form-control" type="password" id="pass" value="@(Model == null ? "" : Model.Password)" placeholder="Password" name="Password" />
    <span class="text-danger">@Html.ValidationMessage("Password")</span><br />
    <input class="form-control" type="password" id="repass" value="@(Model == null ? "" : Model.RePassword)" placeholder="Retype-Password" name="RePassword" />
    <span class="text-danger">@Html.ValidationMessage("RePassword")</span><br />

    <br />
    <input type="submit" class="btn btn-success" /> <br />

</form>
